.card {
    margin: 50px;
    width: 30%;
    height: 180px;
    position: relative;
    display: inline-grid;
    border-radius: 10px;
    transition-duration: 300ms;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}

.card-hover {
    transition-duration: 300ms;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
    
    
}

